<%= link_to "Edit this release", edit_release_path(@release), class: "button_main my-3" %>

<h1><%= @release.artist %></h1>
<h2><%= @release.title %></h2>
<p><%= @release.label %></p>
<p><%= @release.catalog_number %></p>
<p><%= @release.format %></p>
<p><%= @release.released %></p>
<p><%= @release.styles %></p>
<p><%= @release.tracklist %></p>
<p><%= @release.cover_url %></p>

