<%= link_to "Edit this release", edit_release_path(@release), class: "btn_main" %>

<h1><%= @release.artist %></h1>
<h2><%= @release.title %></h2>
<p><%= @release.label %></p>
<p><%= @release.catalog_number %></p>
<p><%= @release.format %></p>
<p><%= @release.released %></p>
<p><%= @release.styles %></p>
<p><%= @release.tracklist %></p>
<p><%= @release.cover_url%></p>
<% if @release.photo.attached? %>
  <%= cl_image_tag @release.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
